In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
path='//home/student/Documents/Pavan/ex1data2.txt'
data = pd.read_csv(path, header=None, names=['House size', 'bedrooms','prize'])
print(data.shape)
data.head()

(47, 3)

   House size  bedrooms   prize
0        2104         3  399900
1        1600         3  329900
2        2400         3  369000
3        1416         2  232000
4        3000         4  539900

In [14]:
reg = LinearRegression()
a=data['House size'].values
b=data['bedrooms'].values
X=pd.DataFrame(a,b)
Y=data['prize'].values
n=len(Y)
Y=Y.reshape(n,1)

reg = reg.fit(X,Y)

# Y prediction
y_pred = reg.predict(X)


#calculating MSE
mse = mean_squared_error(Y,y_pred)
r2_score = reg.score(X, Y)


print(np.sqrt(mse))
print(r2_score)

64158.12872010906
0.7310037839755306